.header>h1,
.book-form {
    z-index: 2;
    color: #f5f5f5;
}

.header>h1 {
    margin: 0;
    margin-block: 1rem;
}

.book-form {
    background-color: #f5f5f5;
    color: #1D1D1D;
    padding: 2rem;
    border-radius: 12px;
    margin-bottom: 3rem;
    box-shadow: 0px 0px 20px black;
    max-width: 40rem;
}

.book-form label,
.book-form input,
.book-form select,
.book-form textarea {
    width: 100%;
    margin-bottom: 10px;
}

.book-form input,
.book-form select,
.book-form textarea {
    border: none;
    border-radius: 10px;
    padding: 1rem;
    background-color: #ffff;
}

.book-form input,
textarea {
    margin-top: 10px;
}

.book-form input[type="submit"]{
    background-color: #C49C74;
}

.book-form textarea{}